<div class="container">
  <div class="row justify-content-around">
    <div class="col-xs-12 col-sm-9">
      <div class="form-login">
        <h2>Edit <%= resource_name.to_s.humanize %></h2>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs label-rf">
              <%= f.input :email, required: true, autofocus: true %>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Aguardando confirmação de: <%= resource.unconfirmed_email %></p>
              <% end %>

              <%= f.input :password, label: "Nova senha",
                          hint: "Deixe em branco se você não quer mudar",
                          required: false,
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation, label: "Confirme a senha",
                          required: false,
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :current_password, label: "Senha atual",
                          hint: "Digite sua senha atual para confirmar suas mudanças",
                          required: true,
                          input_html: { autocomplete: "current-password" } %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Atualizar", class: "btn btn-primary" %>
            </div>
          <% end %>

          <h3>Apagar Minha Conta</h3>

          <p>Insatisfeito? <%= link_to "Apagar minha conta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

          <%= link_to "Voltar", :back %>
      </div>
    </div>
  </div>
</div>
