<div class="wrapper">
<%= simple_form_for(@complaint) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>



  <div class="container borda">
    <div class="container row intern-container borda p-0">
      <div class="col-3 borda p-0 img-form">
        <%= image_tag "img_teste.jpg", id:"foto-1" %>
      </div>
      <div class="col-9 text-form borda">
        <div class="p-4 main-text">
          <h4><strong>Seja muito bem-vindo(a) ao canal de denúncias da Receita Federal!</strong></h4>
          <br>
          <h5>Desde já, agradecemos pela sua denúncia. Vamos começar?</h5>
          <br>
          <h5>O trabalho da Receita Federal pode ser dividido em duas grandes áreas. A qual das duas áreas sua denúncia se refere?</h5>
          <br>
          <div class="borda button-1 text-center">
            <%=f.collection_radio_buttons :custom, [[true, 'Aduana'] ,
            [false, 'Tributos Internos']], :first, :last%>

          </div>
        </div>
      </div>
    </div>
  </div>

      <!-- <%# Colocar isso apenas se houver hover? https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_display_element_hover%>
      <p>#TEXTO OPCIONAL</p>
      <p>A Aduana está relacionada ao fluxo internacional de bens, mercadorias e
      veículos.
      Assim, se a sua denúncia tiver relação com importação, exportação, contrabando
      e contrafação de mercadorias (mercadorias falsificadas / piratas), babagem
      de viajantes e tributos incidentes sobre o comércio exterior, selecione ADUANA.</p>
      <p>Se estiver relacionada a tributos internos, isto é, com os demais tributos
      federais como Imposto de Renda, Contribuições Sociais (CSLL, PIS, Cofins, Cide etc) e
      Previdenciárias, IPI, ITR, IOF, entre outros, selecione TRIBUTOS INTERNOS.</p>
      <p>#FIM TEXTO OPCIONAL</p> -->

  <div id="element-hide-1" style="display: none;">
    <div class="container">
      <div class="container intern-container borda p-4">
        <div class="d-flex flex-row justify-content-start my-2">
          <div class="col-5 main-text borda">
            <h3>Ótimo! Agora escreva a sua denúncia com o maior nível de detalhamento que conseguir:</h3>
          </div>
          <div class="col-7 main-text borda" id="form-2">
            <%= f.input :description, label:false, :required => true %>
            <span class="btn btn-primary button-2">OK</span>
          </div>
        </div>
        <div class="row align-items-center borda">
          <div class="col d-flex justify-content-center borda m-5 box-form-ext">
            <div id="complaint-form" class="box-form-int borda">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="element-hide-2" style="display: none;">
    <div class="image-background">
      <%= image_tag "img_teste.jpg", id:"foto-3" %>
      <div class="container">
        <div class="row align-items-center borda", id="form-3">
          <div class="col d-flex justify-content-center borda m-5 box-form-ext">
            <div id="complaint-form" class="box-form-int borda">
              <h4>Você sabe o CPF ou CNPJ da pessoa física ou jurídica que está envolvida
              em sua denúncia?</h4>
              <div class="container", id="with_ni">
              <%=f.collection_radio_buttons :know_ni, [[true, 'Sim'] ,
              [false, 'Não']], :first, :last%>
              <br>
              </div>
              <div id="element-hide-3a" style="display: none;">
                <p>#Se souber o NI:</p>
                <%= f.input :ni_comp, label:false, :required => true, :placeholder=> 'CPF ou CNPJ' %>
                <span class="btn btn-primary button-3a">OK</span>
              </div>
              <div id="element-hide-3b" style="display: none;">
                <p>#Se não souber o NI:</p>
                <p>Não tem problema. Para nos ajudar a localizar esta pessoa, saberia dizer
                o seu endereço e/ou o seu nome?</p>
                <%= f.input :name, label:false, :placeholder => 'Nome' %>
                <%= f.input :address, label:false, :placeholder => 'Endereço' %>
                <span class="btn btn-primary button-3b">OK</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <br>
      <h2 class="text-without-box">Quanto mais informações puder nos fornecer, mais rápido poderemos tomar as providências necessárias.</h2>
    </div>
  </div>


  <div id="element-hide-4" style="display: none;">
    <div class="image-background">
      <%= image_tag "img_teste.jpg", id:"foto-4" %>
      <div class="container">
        <div class="row align-items-center borda", id="form-4">
          <div class="col d-flex justify-content-center borda m-5 box-form-ext">
            <div id="complaint-form" class="box-form-int borda">
              <p>Em que ano aconteceu este fato que você acabou de nos contar?</p>
              <%= f.input :year_comp, label:false, :placeholder => 'Digite apenas números', :required => true  %>
              <p>E você acha que ainda está acontecendo?</p>
              <div class="container button-4">
                <%= f.collection_radio_buttons :keep,  [['Sim', 'Sim'] ,
                  ['Não', 'Não'], ['Não sei', 'Não sei']], :first, :last%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="element-hide-5" style="display: none;">
    <div class="image-background">
      <%= image_tag "img_teste.jpg", id:"foto-5" %>
      <div class="container">
        <div class="row align-items-center borda", id="form-5">
          <div class="col d-flex justify-content-center borda m-5 box-form-ext">
            <div id="complaint-form" class="box-form-int borda">
              <h2>Já estamos quase acabando...</h2>
              <p>Gostaria de incluir algum documento ou foto relativo à denúncia?</p>
              <%=f.collection_radio_buttons :with_attach, [[true, 'Sim'] ,
                  [false, 'Não']], :first, :last%>
              <div id="element-hide-6a" style="display: none;">
              <%# Se a resposta anterior for SIM. %>
              <%= f.input :attachment, label:false, as: :file, input_html: { multiple: true }%>
              <span class="btn btn-primary button-5">OK</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="element-hide-7" style="display: none;">
    <div class="image-background">
      <%= image_tag "img_teste.jpg", id:"foto-6" %>
      <div class="container">
        <div class="row align-items-center borda", id="form-6">
          <div class="col d-flex justify-content-center borda m-5 box-form-ext">
            <div id="complaint-form" class="box-form-int borda">
              <p>Em sua opinião, quais tópicos possuem relação com sua denúncia?Selecione quantos desejar. </p>
              <div id="categories-custom" style="display: none;">
                <%= f.association :categories, as: :check_boxes, collection: @cat_aduana, include_hidden: false %>
              </div>
              <p>#CATEGORIAS TRIBUTOS INTERNOS</p>

              <div id="categories-intern" style="display: none;">
                <%= f.association :categories, as: :check_boxes, collection: @cat_trib_int, include_hidden: false %>
              </div>
              <button type="button" id="review_info" class="" data-toggle="modal" data-target="#info">
                Revisar informações
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div id="element-hide-8" style="display: none;">
    <div class="modal fade" id="info" tabindex="-1" aria-labelledby="infoLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="infoLabel">Resumo da denúncia</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
              <div class="area_modal">
                <strong>Área à qual a denúncia se refere: </strong>
                <p id="area_modal"></p>
              </div>
              <div class="description_modal">
                <strong>Descrição: </strong>
                <p id="description_modal"></p>
              </div>
              <div class="denounced_modal">
                <strong>Nome do denunciado: </strong>
                <p id="denounced_modal"></p>
                <strong>Endereço do denunciado: </strong>
                <p id="address_modal"></p>
                <strong>CPF ou CNPJ do denunciado: </strong>
                <p id="ni_modal"></p>
              </div>
              <div class="init_year_modal">
                <strong>Ano de início da ocorrência: </strong>
                <p id="init_year_modal"></p>
              </div>
              <div class="continuous_modal">
                <strong>Ocorrência continua acontecendo? </strong>
                <p id="continuous_modal"></p>
              </div>
              <div class="categories">
                <strong>Tópicos relacionados à denúncia: </strong>
                <p id="categories"></p>
              </div>
              <div class="attachments">
                <strong>Documentos anexados: </strong>
                <p id="attachments"></p>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
              <%= f.button :submit, 'Confirmar', class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
