  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 p-2 board">
        <h4 class="text-center font-weight-bold">Recebida</h4>
        <table class="table table-responsive table-hover table-borderless">
          <thead class="thead-light">
            <th>Área</th>
            <th>CNPJ</th>
            <th>Nome da Empresa</th>
            <th>Denunciante</th>
            <th>Mais Informações</th>
          </thead>
          <tbody id="rec">
            <% @complaints.each do |complaint| %>
              <% if complaint.status == "recebida" %>
                <tr class='handle' data-ajax-path="<%= complaint_path(complaint) %>" data-table-source="recebida">
                  <% if complaint.custom? %>
                    <td>Aduana</td>
                  <% else %>
                    <td>Tributo Interno</td>
                  <% end %>
                  <td><%= complaint.ni_comp %></td>
                  <td><%= complaint.name %></td>
                  <td><%= complaint.user.name %></td>
                  <td><%= link_to "Detalhes", complaint_path(complaint), class: "btn btn-primary btn-sm" %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-sm-4 board p-2">
        <h4 class="text-center font-weight-bold">Encaminhada</h4>
        <table class="table table-responsive table-hover table-borderless">
          <thead class="thead-light">
            <th>Área</th>
            <th>CNPJ</th>
            <th>Nome da Empresa</th>
            <th>Denunciante</th>
            <th>Mais Informações</th>
          </thead>
          <tbody id="enc">
            <% @complaints.each do |complaint| %>
              <% if complaint.status == "encaminhada" %>
                <tr class='handle' data-ajax-path="<%= complaint_path(complaint) %>" data-table-source="encaminhada">
                  <% if complaint.custom? %>
                    <td>Aduana</td>
                  <% else %>
                    <td>Tributo Interno</td>
                  <% end %>
                  <td><%= complaint.ni_comp %></td>
                  <td><%= complaint.name %></td>
                  <td><%= complaint.user.name %></td>
                  <td><%= link_to "Detalhes", complaint_path(complaint), class: "btn btn-primary btn-sm" %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-sm-4 board p-2">
        <h4 class="text-center font-weight-bold">Finalizada</h4>
        <table class="table table-responsive table-hover table-borderless">
          <thead class="thead-light">
            <th>Área</th>
            <th>CNPJ</th>
            <th>Nome da Empresa</th>
            <th>Denunciante</th>
            <th>Mais Informações</th>
          </thead>
          <tbody id="fin">
            <% @complaints.each do |complaint| %>
              <% if complaint.status == "finalizada" %>
                <tr class='handle' data-ajax-path="<%= complaint_path(complaint) %>" data-table-source="encaminhada">
                  <% if complaint.custom? %>
                    <td>Aduana</td>
                  <% else %>
                    <td>Tributo Interno</td>
                  <% end %>
                  <td><%= complaint.ni_comp %></td>
                  <td><%= complaint.name %></td>
                  <td><%= complaint.user.name %></td>
                  <td><%= link_to "Detalhes", complaint_path(complaint), class: "btn btn-primary btn-sm"  %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
