<div class="container">
    <h2>Recebida</h2>
    <table class="table">
      <thead>
        <th>Id</th>
        <th>Área</th>
        <th>CNPJ</th>
        <th>Nome da Empresa</th>
        <th>Ano do Ilícito</th>
        <th>Ilícito ativo?</th>
        <th>Denunciante</th>
      </thead>
      <tbody id="rec">
        <% @complaints.each do |complaint| %>
          <% if complaint.status == "recebida" %>
            <tr class='handle' data-ajax-path="<%= complaint_path(complaint) %>" data-table-source="recebida">
              <% if complaint.custom? %>
                <td>Aduana</td>
              <% else %>
                <td>Tributo Interno</td>
              <% end %>
              <td><%= complaint.ni_comp %></td>
              <td><%= complaint.name %></td>
              <td><%= complaint.address %></td>
              <td><%= complaint.year_comp %></td>
              <td><%= complaint.keep.capitalize %></td>
              <td><%= complaint.user.name %></td>
              <td><%= link_to "Detalhes", complaint_path(complaint) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <h2>Encaminhada</h2>
    <table class="table">
      <thead>
        <th>Id</th>
        <th>Área</th>
        <th>CNPJ</th>
        <th>Nome da Empresa</th>
        <th>Endereço</th>
        <th>Ano do Ilícito</th>
        <th>Ilícito ativo?</th>
        <th>Denunciante</th>
      </thead>
      <tbody id="enc">
        <% @complaints.each do |complaint| %>
          <% if complaint.status == "encaminhada" %>
            <tr class='handle' data-ajax-path="<%= complaint_path(complaint) %>" data-table-source="encaminhada">
              <% if complaint.custom? %>
                <td>Aduana</td>
              <% else %>
                <td>Tributo Interno</td>
              <% end %>
              <td><%= complaint.ni_comp %></td>
              <td><%= complaint.name %></td>
              <td><%= complaint.address %></td>
              <td><%= complaint.year_comp %></td>
              <td><%= complaint.keep.capitalize %></td>
              <td><%= complaint.user.name %></td>
              <td><%= link_to "Detalhes", complaint_path(complaint) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <h2>Finalizada</h2>
  <table class="table">
    <thead>
      <th>Id</th>
      <th>Área</th>
      <th>CNPJ</th>
      <th>Nome da Empresa</th>
      <th>Endereço</th>
      <th>Ano do Ilícito</th>
      <th>Ilícito ativo?</th>
      <th>Denunciante</th>
    </thead>
    <tbody id="fin">
      <% @complaints.each do |complaint| %>
        <% if complaint.status == "finalizada" %>
          <tr class='handle' data-ajax-path="<%= complaint_path(complaint) %>" data-table-source="finalizada">
            <% if complaint.custom? %>
              <td>Aduana</td>
            <% else %>
              <td>Tributo Interno</td>
            <% end %>
            <td><%= complaint.ni_comp %></td>
            <td><%= complaint.name %></td>
            <td><%= complaint.address %></td>
            <td><%= complaint.year_comp %></td>
            <td><%= complaint.keep.capitalize %></td>
            <td><%= complaint.user.name %></td>
            <td><%= link_to "Detalhes", complaint_path(complaint) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  </div>
