  <div class="container-fluid dash">
    <div class="row justify-content-center">
      <div class="">
        <h4 class="text-center font-weight-bold">Minhas Denúncias</h4>
        <br>
        <% if @my_complaints.empty? %>
          <% controller.redirect_to root_path, notice: "Nenhuma denúncia encontrada." %>
        <% else %>
          <% @my_complaints.each do |complaint| %>
          <div class="container p-2 shadow mb-5 bg-white rounded">
            <table class="table table-hover table-borderless">
              <thead class="thead-light">
                <th>Área</th>
                <th>CNPJ</th>
                <th>Nome da Empresa</th>
                <th>Endereço</th>
                <th>Ano do Ilícito</th>
                <th>Ilícito continua ocorrendo?</th>
              </thead>
              <tbody id="my_comp">
                <% if complaint.custom? %>
                  <td>Aduana</td>
                <% else %>
                  <td>Tributo Interno</td>
                <% end %>
                <td><%= complaint.ni_comp %></td>
                <td><%= complaint.name %></td>
                <td><%= complaint.address %></td>
                <td><%= complaint.year_comp %></td>
                <td><%= complaint.keep.capitalize %></td>
              </tbody>
            </table>
            <table class="table table-hover table-borderless">
              <thead class="thead-light">
                <th>Detalhamento da denúncia</th>
              </thead>
              <tbody id="my_comp">
                <td><%= complaint.description %></td>
              </tbody>
            </table>
            <table class="table table-hover table-borderless">
              <thead class="thead-light">
                <th>Categorias às quais a denúncia se relaciona</th>
              </thead>
              <tbody id="my_comp">
                <td><ul type="I">
                <% complaint.categories.each do|categorie| %>
                  <li><%= categorie.title.capitalize %></li>
                <% end %>
                 </ul></td>
              </tbody>
            </table>
            <div class="nav justify-content-end">
              <%= link_to 'Complementar denúncia', new_complaint_complement_path(complaint), class: "btn btn-primary button-p text-center" %>
            </div>
          </div>
          <% end %>
        <% end %> 
      </div>
    </div>
  </div>
