<%= simple_form_for([@complaint, @complement]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="container-fluid dash">
    <div class="row justify-content-center">
      <div class="">
        <h4 class="text-center">Informações adicionais à denúncia</h4>
        <br>
        <div class="container p-2 shadow mb-2 bg-white rounded">
          <p>Registre as informações adicionais relativas à sua denúncia com o maior nível de detalhamento que conseguir:</p>
          <%= f.input :additional_information, label:false, :required => true %>
        </div>     
        <div class="container p-2 shadow mb-2 bg-white rounded">       
          <p>Caso queira adicionar algum documento e/ou foto relativos à denúncia, clique no botão abaixo:</p>
          <%= f.input :attachment, label:false, as: :file, input_html: { multiple: true }%> 
        </div>
        <div class="container p-2 shadow mb-2 bg-white rounded">  
          <p>Revise as informações e, quando finalizar, clique no botão "Confirmar".</p>
        
          <button type="button" id="review_compl" class="btn btn-primary" data-toggle="modal" data-target="#info">
            Revisar informações
          </button>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal custom fade" id="info" tabindex="-1" aria-labelledby="infoLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="infoLabel"><strong>Informações adicionais </strong></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
              <div class="container p-2 description_modal"> 
                <strong>Detalhamento: </strong>
              </div>
              <div class="container p-2 shadow mb-2 rounded description_modal"> 
                <p id="info_add_modal"></p>
              </div>
              <div class="container p-2 shadow mb-2 rounded description_modal"> 
                <strong>Documentos anexados: </strong>
                <p id="attachments"></p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
              <%= f.button :submit, 'Confirmar', class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
